.alert {
    color: red;
}

input.ng-touched.ng-invalid {
    border: 2px solid red;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add-vehicle-btn {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
