.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: beige;
    font-size: 25px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
}

.sidenav h2 {
    padding: 6px 8px 6px 16px;
    color: brown;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: black;
}